@import "../../main-styles/mixins.scss";

.messages-page {
  height: 100vh;
  box-sizing: border-box;
}
.conversations-with-title {
  width: 100%;
}

@include breakpoint-up(large) {
  .conversations-with-title {
    border-right: 0.0625rem solid #e6e6e6;
    max-width: 31.25rem;
  }
  .conversation-messages {
    position: relative;
    overflow-y: scroll;
    box-sizing: border-box;
    height: calc(100vh - 12.5rem);
  }
  .desktop-messages {
    margin-top: 1.25rem;
    width: 100%;
  }
  .conversations-container {
    height: calc(100vh - 6.25rem);
  }
}
.desktop-large {
  display: none;
}
@include breakpoint-up(large) {
  .desktop-large {
    display: block;
  }
}
