@use "../../main-styles/main.scss" as f;
@import "../../main-styles/mixins.scss";
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .profile-details {
    width: 100%;
    max-width: 800px;

    .avatar-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .profile-image {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
      }

      .names {
        text-align: center;
        h1 {
          font-size: 24px;
          margin: 0;
        }

        h2 {
          font-size: 16px;
          color: f.$black75;
          margin: 0;
        }
      }

      .activity-stats {
        justify-content: space-between;
        width: 100%;
        margin-top: 20px;
        max-width: 400px;

        .post-count,
        .following-count,
        .follower-count {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100px;

          h2 {
            font-size: 24px;
            margin: 0;
          }

          h1 {
            font-size: 18px;
            margin: 0;
          }
        }
      }
      .follow-button {
        margin-top: 40px;
        background-color: #008cba;
        color: white;
        padding: 10px;
        max-width: 200px;
        width: 100%;
        border-radius: 50px;
        font-size: 18px;
        height: 45px;
        &:hover {
          background-color: #0077a7;
          cursor: pointer;
        }
      }
      .unfollow-button {
        margin-top: 40px;
        background-color: #ffffff;
        color: #008cba;
        border: 2px solid #008cba;
        padding: 10px;
        max-width: 200px;
        width: 100%;
        border-radius: 50px;
        font-size: 18px;
        position: relative;
        overflow: hidden;
        height: 45px;
        &:hover {
          background-color: rgba(0, 135, 186, 0.8);
          color: #ffffff;
        }
      }

      .edit-profile-button {
        margin-top: 40px;
        background-color: transparent;
        color: black;
        border: 1px solid black;
        padding: 10px;
        max-width: 200px;
        width: 100%;
        border-radius: 50px;
        font-size: 18px;

        &:hover {
          background-color: #f1f1f1;
          cursor: pointer;
        }
      }
    }

    .bio {
      margin-top: 20px;

      p {
        font-size: 18px;
        line-height: 1.5;
        margin: 0;
        text-align: center;
      }
    }
  }
  .user-post-gallery {
    width: 100%;
    margin-top: 40px;
    height: fit-content;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    .post-photo-container {
      background-color: black;
      .post-img {
        height: 200px;
        width: 100%;
        max-width: 200px;
        transition: all 0.1s ease-in-out;
      }
    }
    .post-photo-container:hover {
      cursor: pointer;
      img {
        opacity: 0.5;
      }
    }
  }
}

@include breakpoint-up(medium) {
  .profile-container {
    max-width: 1200px;
    margin: 0 auto;
    .profile-details {
      .avatar-info {
        .profile-image {
          width: 150px;
          height: 150px;
        }
      }
    }
    .user-post-gallery {
      width: 100%;
      margin-top: 40px;
      .post-photo-container {
        .post-img {
          background-color: #e0e0e0;
          height: 300px;
          width: 100%;
          max-width: 300px;
        }
      }
    }
  }
}
