.comment-section {
  position: absolute;
  z-index: 99;
  box-sizing: border-box;
  top: 0;
  left: 0;
  background-color: white;
  height: 100vh;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.left-oo-screen {
  transform: translateX(-100%);
}
.left-o-screen {
  transform: translateX(100%);
}
