.search {
  position: relative;
  .search-results {
    box-shadow: 0 0 5px 0 #ccc;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    top: 30px;
    left: -10px;
    z-index: 9999;
    .search-result {
      display: flex;
      align-items: center;

      padding: 10px;
      border-bottom: 1px solid #ccc;

      &:last-child {
        border-bottom: none;
      }

      .user-image {
        width: 40px;
        height: 40px;
        background-color: #ccc;
        border-radius: 50%;
        margin-right: 10px;
      }

      .user-info {
        .user-name {
          font-weight: bold;
          font-size: 16px;
          margin-bottom: 5px;
        }

        .user-username {
          color: #666;
        }
      }
    }
  }
}
