@import "./mixins.scss";

// variables

$black: 202020;
//set opacity of this color to 75
$black75: rgba(32, 32, 32, 0.75);
$black25: rgba(32, 32, 32, 0.25);
$black05: rgba(32, 32, 32, 0.05);

.body {
  width: 100%;
  min-height: 100vh;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.flex {
  display: flex;
}
.center {
  justify-content: center;
  align-items: center;
}
.jc-c {
  justify-content: center;
}
.ai-c {
  align-items: center;
}
.fd-r {
  flex-direction: row;
}
.fd-c {
  flex-direction: column;
}
.jc-fs {
  justify-content: flex-start;
}
.padding {
  padding: 0 16px;
}
.profile-photo {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #9e9e9e;
}
.desktop {
  display: none;
}
.vsn {
  opacity: 0;
}
a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  width: fit-content;
  color: inherit;
}
.error {
  border: 1px solid red !important;
  color: red;
}
.error:placeholder-shown {
  color: red;
}
.success {
  border: 1px solid green !important;
  color: green;
}
a {
}
a:visited {
  text-decoration: none;
  color: inherit;
}
input[type="text"] {
  text-align: center;
  box-shadow: none;
  //!! TODO: Change to color from figma
  border: 1px black solid;
}
input[type="text"]:focus {
  border: none;
  box-shadow: none;
  // outline: black;
}

@include breakpoint-up(medium) {
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
  }
}
